<%= form_for [product, product.comments.build], remote: true do |f| %>
  <div class="field">
    <%= f.text_area :content, required: true, placeholder: t("comment_login"), class: "text_area_comment" %>
  </div>
  <button class="btn btn-primary btn_comment" type="submit">
    <%= t "create" %>
  </button>
<% end %>
