<% categories.each.with_index 1 do |cate, index| %>
  <tr>
    <td><%= index %></td>
    <td><%= cate.name.titleize %></td>
    <td>
      <%= link_to edit_admin_category_path cate do %>
        <i class="fa fa-edit"></i>
      <% end %>
    </td>
  </tr>
<% end %>
