<div class="text-right button-add">
  <%= link_to t(".add_category"), new_admin_category_path, class: "btn btn-primary" %>
</div>
<% if @categories.any? %>
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th><%= t ".name" %></th>
        <th><%= t ".edit" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "categories", collection: @categories, as: :cate %>
    </tbody>
  </table>
<% end %>
