@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

.product {
  &.product-single {
    .product-btns {
      .primary-btn {
        width: 80%;
      }
    }
    .product-thumb {
      &>a {
        display: block;
        height: 300px;
      }
    }
  }
}
.list-links {
  li {
    &>a {
      width: 100%;
    }
  }
}

.checkout {
  margin-bottom: 100px;
}

a {
  &.icon-btn {
    &.main-btn {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      width: 25px;
      height: 25px;
      i {
        font-size: 20px;
      }
    }
  }
}
