@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'variable';

body {
  .container {
    &.body {
      .main_container {
        .right_col {
          padding: 80px 20px 0;
          float: right;
        }
      }
    }
  }
  &.nav-md {
    .container {
      &.body {
        .right_col {
          width: calc(100% - 230px);
        }
      }
    }
    .main_container {
      .top_nav {
        width: calc(100% - 230px);
      }
    }
  }
  &.nav-sm {
    .container.body {
      .right_col {
        width: calc(100% - 70px);
      }
    }
    .main_container {
      .top_nav {
        width: calc(100% - 70px);
      }
    }
  }
  &.login {
    background-color: $white;
    .login_form {
      margin: auto;
      width: 40%;
      input[type="submit"] {
        width: 100%;
      }
      .link_reset {
        display: inline-block;
        margin: 7px 0;
      }
    }
  }
  .main_container {
    .top_nav {
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.font_icon {
  i {
    font-size: 20px;
  }
}

.red-req {
  color: $red;
}

button {
  &.swal2-cancel {
    background-color: $cancel !important;
  }
}

#error_explanation {
  ul {
    list-style-type: inherit;
    padding-left: 15px;
    li {
      color: $red;
    }
  }
}

.button-add {
  padding: 20px 0;
  a {
    width: 200px;
    border-radius: 0px;
  }
}

.table-bordered {
  th {
    text-align: center;
  }
}

.form_product, .form_category {
  padding-bottom: 25px;
  input,label {
    width: 100%;
  }
  input {
    height: 30px;
    margin-bottom: 7px;
    &[type="submit"] {
      margin-top: 10px;
    }
  }
  select {
    width: 100px;
    margin-bottom: 7px;
    height: 25px;
    text-align: center;
    text-align-last: center;
  }
  textarea {
    height: 150px;
    width: 100%;
  }
}

td {
  i {
    &.fa-edit {
      font-size: 20px;
    }
  }
}

#pagination {
  .pagination {
    li {
      &.first, &.last {
        display: none;
      }
    }
  }
}

form {
  .inline {
    display: inline-block;
    margin-right: 10px;
    &.wd-80 {
      width: 80px;
      margin-right: 25px;
    }
  }
  a {
    &.remove_fields {
      font-size: 25px;
    }
  }
}
