<div class="section">
  <div class="container list_product">
    <div class="row">
      <div class="col-md-12 col-sm-6 col-xs-6">
        <%= render "products/product", products: @products %>
      </div>
    </div>
  </div>
</div>
